  .body{	  
    background: white;
    border: 1px solid #EBEBEB;  
	    width: 1000px;
    margin: 0 auto;
  }
  .menu {
    float: left;
    width: 100%;
    text-align: center;
}

ul.main {
    float: left;
    width: 98%;
    margin: 0px;
    list-style: none;
    padding: 5px 1%;
    background: #EBEBEB;
}

ul.main li {
    float: left;
    margin: 0px;
    background: #F3F3F3;
    min-width: 120px;
}

ul.main li a {
    text-decoration: none;
    margin: 0px;
    float: left;
    height: 100%;
    width: 100%;
    padding: 2% 5%;
    border: 1px solid #ccc;
}

ul.main li:hover {
    background: white;
}

ul.main li:hover a {
    color: blue;
}
.leftwapper {
    float: left;
    width: 100%;
    background: rgba(204, 204, 204, 0.7);
}

.leftwapper h2 {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 100%;
    margin-bottom: 1px;
}

.leftwapper h2 a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    padding: 5px 2%;
    background: #03A9F4;
    border: 1px solid #EBEBEB;
    float: left;
    color: white;
    width: 96%;
    text-align: center;
}

ul.menu_cate {
    float: left;
    width: 100%;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.banner {
    float: left;
    width: 100%;
}

.hearder {
    float: left;
    width: 100%;
}

.wapper {
    float: left;
    width: 100%;
    background: #EBEBEB;
	margin:5px 0px;
	margin-bottom:1%;
}

.wapper .wleft {
    float: left;
    width: 18%;
}

.wright {
    float: left;
    width: 78%;
}

.wbottom {
    float: left;
    width: 100%;
    background: #EBEBEB;
}
ul.menu_cate li {
    line-height: 33px;
    background: #f7f9fa;
    list-style: none;
    border-top: #fff solid 1px;
    border-bottom: #d4d4d4 solid 1px;
}

ul.menu_cate li a {
    color: #333;
    font-size: 0.9em;
    font-weight: normal;
    padding-left: 25px;
    display: block;
    height: 30px;
    text-decoration: none;
    text-transform: capitalize;
}
button.button-idsp {
    margin: 5px 0px;
}
ul.menu_cate li:hover {
    background: #03A9F4;
}

ul.menu_cate li:hover a {
    color: white;
}

.leftwapper h2 {
    border: 1px solid #EBEBEB;
    border-bottom: none;
}
ul {
    margin: 10px 0;
    list-style: disc inside none;
    padding: 0px;
}
.product li.box-1.span4:nth-child(3n+1) {
    margin-left: 1.5%;
}
.head_sp {
    margin: 0;
    height: 38px;
    font-weight: bold;
    font-size: 1em;
    width: 100%;
    line-height: 32px;
    padding: 0px;
    text-align: center;
}

ul.product li {
    float: left;
    width: 31%;
    margin-right: 1.5%;
    list-style: none;
}
.product li:first-child{
   margin-left: 1.5%;
}
li.box-1 {
    border-width: 1px;
    background: #FFF;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

ul.product li a {text-decoration: none;line-height: 30px;/* height: 30px; */float: left;width: 100%;}

.home-text {
    font-size: 13px;
    font-style: italic;
    color: #666666;
    margin-top: 10px;
    padding: 5px;
    height: 55px;
    overflow: hidden;
    text-align: justify;
}
.thumbnail>img {
    display: block;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.product li .fot-box .price {
    width: 50%;
    float: left;
    margin: 0px;
    margin-left: 5px;
    padding: 0px;
}
span.new-price {
    color: #FC1F62;
    font-weight: bold;
    height: 38px;
    line-height: 38px;
}


.fot-box a.button {
    float: left;
    border: solid #CAC9C9 1px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    color: #777;
    text-decoration: none;
    padding: 5px 5px 4px;
    color: #FFFFFF;
    border-color: #FC1F62;
    background-color: #FC1F62;
    background-attachment: scroll;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    padding: 4px 10px;
    margin: 0px;
    position: relative;
    float: right;
    right: 5px;
    text-align: center;
    width: 37%;
}
.wright {
    background: rgb(255, 255, 255);
    border-color: rgb(221, 220, 220);
    padding: 0px 1%;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    margin-left: 1%;
}
.chitietsanpham h1.detail_h1 {
    text-align: center;
    color: #1C3F35;
    margin: 10px 0px;
    line-height: 25px;
    font-weight: bold;
    font-family: 'Segoe UI',Tahoma,Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
}
.chitietsanpham .home-text {
    font-size: 14px;
    font-style: italic;
    color: #666666;
    margin-top: 10px;
    padding: 5px;
    height: 55px;
    overflow: hidden;
    text-align: justify;
}
.col-md-6 {
    float: left;
    width: 50%;
}
.chitietcodesp {
    width: 100%;
    position: absolute;
    font-size: 14px;
    font-weight: 200;
    color: white;
    float: left;
}
.col-md-6.image-view img {
    float: left;
    width: 100%;
    height: auto;
}
.kmprice {
    font-size: 21px;
    font-weight: 700;
    background: #03A9F4;
    border: 0;
    font-weight: 700;
    color: #fff!important;
    white-space: nowrap;
    float: left;
    width: 100%;
    text-align: center;
}
.totalmua {
    float: left;
    width: 100%;
}
.totalmua .button-red {
    width: 100%;
    padding: 20px 0px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.product .button, .button3, .button-red, .button-idsp {
    border: solid #CAC9C9 1px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    color: #777;
    text-decoration: none;
    padding: 5px 5px 4px;
    color: #FFFFFF;
    border-color: #FC1F62;
    background-color: #FC1F62;
    background-attachment: scroll;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    padding: 4px 10px;
    margin: 0px;
    position: relative;
    float: right;
    right: 0px;
}
.wright table {
    font-size: 14px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.wright table tr:first-child {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #03A9F4;
    color: white;
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

.wright table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.wright table tr td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
    font-size: 12px;
}
.message {
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    text-align: center;
    width: 50%;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    border: 1px solid red;
    left: 27%;
}

.message h3 {
    margin: 0px;
    font-size: 16px;
    color: red;
    text-align: center;
}

.message span {
    font-size: 13px;
}
.message a {
    position: absolute;
    right: 0px;
    top: 0px;
    text-decoration: none;
    color: red;
    font-weight: bold;
	padding:5px;
}
form#formtimkiem {
    float: right;
    margin-top: -28px;
}
h3.tbltitle {
    text-align: center;
    padding: 5px;
    margin: 0px;
    color: red;
    text-transform: capitalize;
}
input.button-red.thanhtoan {font-size: 18px;text-align: center;width: 30%;float: left;
    cursor: pointer;
}

input.button-red.muatiep {
    float: left;
	    cursor: pointer;
}
#menu ul{
list-style-type:none;
padding:0px;
margin:0px;
}
 
#menu ul li{
display:inline;
}
 
#menu ul a{
text-decoration:none;
width:110px;
float:left;
background:#03A9F4;
color:#fff;
font-weight:bold;
text-align:center;
line-height:30px;
border-left:1px solid #ccc;
}
#menu ul li:hover a {
    background: #fff;
    color: #03A9F4;
}
form#formtimkiem {
    float: right;
    margin-top: -31px;
}
form#formtimkiem input[type="text"]{
	border: 1px solid #03A9F4;
    padding: 5px;
    width: 150px;
}
form#formtimkiem input[type="submit"]{
	border: 1px solid #03A9F4;
    padding: 5px;
    background: #03A9F4;
    color: #fff;
    cursor: pointer;
}
.fter {
    float: left;
    width: 98%;
    padding: 1%;
    text-align: center;
    background: #FFF;
    margin-top: 10px;
}
.fpage {
    float: left;
    width: 100%;
    text-align: center;
    padding: 5px;
}
.chitietsanpham {
    float: left;
    min-height: 800px;
	    width: 100%;
}
.wright {
    min-height: 800px;
}
button#soluongupdate {
    cursor: pointer;
}